:root {
  --primary-color: firebrick;

  --contrast-color: white;
  --contrast-color2: lightgrey;

  --title-familly: Arial;
}

.primary{
	background-color: var(--primary-color);
	color: var(--contrast-color2);
	text-align: center;
	padding: 30px;
	page-break-inside:avoid;
}
.primary h1{
	font-family: var(--title-familly);
	color: var(--contrast-color);
	text-transform: uppercase;

	font-size: 20px;
	margin-bottom: : 30px;
}
.contrast{
	background-color: var(--contrast-color);
	color: var(--primary-color);
	text-align: center;
	padding: 30px;
	page-break-inside:avoid;
}
.contrast h1{
	font-family: var(--title-familly);
	text-transform: uppercase;

	font-size: 20px;
	margin-bottom: 30px;
}

#section_head{
	padding: 60px;
}
#section_head a{
	font-weight: bold;
	color: var(--contrast-color2);
}
#section_head .image-circle{
	margin-bottom: 25px;
	width: 70%;
	max-width: 250px;
}
#section_head h1{
	font-size: 28px;
	padding: 10px;
}
#section_head h2{
	font-size: 20px;
	font-family: Avantgarde;
}
#download{
	margin-top: 20px;
	cursor: pointer;
}

#section_soft_skills{
	padding-top: 5px;
}
#section_soft_skills h2{
	font-family: var(--title-familly);
	text-transform: uppercase;

	font-size: 18px;
	margin-bottom: 15px;
	margin-top: 25px;
}
#section_experience h1{
	font-size: 20px;
	margin-bottom: 30px;
}

#section_contact{

}
#section_contact h1{
	font-size: 20px;
	margin-bottom: 30px;
}

#section_contact hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
#section_contact ul{
	list-style: none;
	text-align: center;
	display:table-row;
}
#section_contact li{
	display: table-cell;
    list-style-type: none;
    margin: 10px;
    padding-left: 15px;
    padding-right: : 15px;
    vertical-align: middle;
}
#section_contact i{
	font-size: 22px;
}
a{
	color: inherit;
}



.image-circle{
	border-radius: 50%;
}
.cell{
	padding: 20px;
}
.mycard{
	padding: 20px;
	margin: 10px;
	transition: .5s;
	filter: grayscale(100%);
	border-radius: 10%;
}
.mycard:hover{
	background: #F0F0F0;
	filter: grayscale(0%);
}
.mycard img{
	border-radius: 10%;
}


@media screen
{
    .noPrint{}
    .noScreen{display:none;}
}

@media print
{
	.invertColorOnPrint{filter: invert(100%) !important}
	.greyOnPrint{filter: grayscale(100%);}
    .noPrint{display:none;}
    .noScreen{}
}

@media print{
	*{
		color: black !important;
	}

	.primary, .contrast{
		padding: 15px;
	}

	h1, h2{
		font-weight: bold;
	}
}

#lang_field{
	background-color: inherit;
	border-color: white;
	color: white;
	cursor: pointer;
}
#lang_field option{
	color: black;
}
.languages_print{
	margin-top: 20px;
}
.languages_print td{
	padding-left: 30px;
	padding-right: 30px;
	/*display: inline;*/
	text-align: center;
}

#section_contact a{
	color: inherit;
}

.black{
	background-color: black !important;
}
.pink{
	background-color: rgb(193, 0, 97) !important;
}